// Create classes for full-size responsive items
.big-100 {
    @include responsivecolumn-item(100%);
}

.big-60 {
    @include responsivecolumn-item(60%);
}

.big-50 {
    @include responsivecolumn-item(50%);
}

.big-40 {
    @include responsivecolumn-item(40%);
}

.big-33 {
    @include responsivecolumn-item(33.33%);
}

.big-25 {
    @include responsivecolumn-item(25%);
}

.big-20 {
    @include responsivecolumn-item(20%);
}

//--------------------------------------------------------
// And classes for small-size responsive items
.x-responsivecolumn-small {
    >.small-100 {
        @include responsivecolumn-item(100%);
    }
    >.small-50 {
        @include responsivecolumn-item(50%);
    }
}

//--------------------------------------------------------
.sencha-logo {
    background-color: #0a3a82;
    height: 65px;
    font-size: 16px;
    color: $lightest-color;
    margin-left: 17px;
    .main-logo {
        line-height: 65px;
        img {
            margin-left: 15px;
            margin-right: 10px;
            top: 8px;
            position: relative;
        }
    }
}

.sencha-dash-dash-headerbar {
    padding: 0 30px 0 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    border: none;
    background-color: #325994;
    .header-right-profile-image {
        border-radius: 20px;
    }
}

.top-english-button {
    .x-btn-icon-el {
        width: 21px;
        height: 14px;
    }
}

.no-content-grid {
    position: absolute;
    left: 50%;
    top: 40%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.collapsed {
    .hot-icon,
    .new-icon {
        &:after {
            display: none;
        }
    }
    .x-tree-elbow-img {
        display: none;
    }
    .x-tree-node-text {
        display: none;
    }
}

.hot-icon,
.new-icon {
    &.hot-icon:after {
        content: "HOT";
        background: #e3495a;
    }
    &.new-icon:after {
        content: "NEW";
        background: $base-color;
    }
    &:after {
        height: 18px;
        width: 34px;
        display: inline-block;
        position: absolute;
        top: 22px;
        right: -180px;
        text-align: center;
        color: $lightest-color;
        font-weight: bold;
        font-size: 10px;
        line-height: 18px;
    }
}

.x-treelist-item-tool {
    height: $panel-navigation-item-line-height;
    &.hot-icon:after,
    &.new-icon:after {
        background: $panel-header-background-color;
        content: '';
    }
}

.x-treelist-navigation .x-treelist-item-icon:before,
.x-treelist-navigation .x-treelist-item-tool:before,
.x-treelist-navigation .x-treelist-item-expander {
    line-height: 48px;
}

.x-treelist-navigation .x-treelist-item-text {
    color: #fff;
    margin-left: 40px;
    margin-right: 24px;
    font-size: 13px;
    line-height: 48px;
    overflow: visible !important;
}

.x-treelist-navigation .x-treelist-row-over .x-treelist-item-text {
    color: #cf6311;
}

.x-treelist-navigation .x-treelist-container .x-treelist-item-wrap {
    margin-left: 20px;
}

.x-column-header-inner .x-column-header-text {
    white-space: normal;
}

.x-column-header-inner {
    line-height: 15px;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    text-align: center;
    font-weight: bold;
    top: 2%;
}

//Add border around html editor field
.x-html-editor-input {
    border: 1px solid #ccc;
}

.x-form-item-label-default {
    color: #000000 !important;
    font-size: 14px;
}

.x-form-cb-label-default {
    margin-top: 8px;
    font: 500 13px/17px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    color: #000000 !important;
}

.x-fieldset-header-default>.x-fieldset-header-text {
    font: 500 16px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    color: #000000 !important;
    padding: 1px 0;
}

.x-btn-inner-header-small {
    font: 500 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif !important;
    color: #ffffff !important;
    padding: 0 5px;
    max-width: 100%;
}

.x-btn-icon-el-header-small {
    font-size: 25px !important;
}


/*.x-btn-wrap-header-small.x-btn-arrow-right:after {
    width: 18px;
    content: "\f0d7" !important;
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900 !important;
    font-size: 20px !important;
    color: #ffffff !important;
}*/


/*.x-menu-item-arrow-default {
    width: 16px;
    height: 16px;
    top: 8px;
    right: 0;
    margin: 0 4px 0;
    color: #0a3a82;
    font: 16px/1 FontAwesome;
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900 !important;
}*/


/*.x-form-trigger-default {
    width: 32px;
    font: 20px/30px FontAwesome;
    background: #fff;
    color: #0a3a82;
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900 !important;
}*/


/*.x-form-search-trigger:before {
    content: "\f002" !important;
}

.x-form-clear-trigger:before {
    content: "\f00d" !important;
}*/


/*.x-menu-item-text-default {
    color: #0a3a82 !important;
}*/

.x-menu-item-default.x-menu-item-focus.x-menu-item-default.x-menu-item-active {
    background-image: none;
    background-color: #ccc !important;
}

.x-menu-item-default.x-menu-item-active {
    background-image: none;
    background-color: #ccc !important;
}


/*.x-menu-item-arrow-default:before {
    content: "\f0da" !important;
}*/


/*.x-column-header-over .x-column-header-trigger:before,
.x-column-header-open .x-column-header-trigger:before {
    content: "\f0da";
}*/

.x-grid-item-focused .x-grid-cell-inner:before {
    border: 0;
}

.text-blue {
    color: #0073b7 !important;
}

.text-dark-blue {
    color: #0a3a82 !important;
}

.text-White {
    color: #ffffff !important;
}

.text-red {
    color: red !important;
}

//UI Styles for buttons
@include extjs-button-small-ui( $ui: 'soft-blue', $background-color: $color-soft-blue, $border-color: darken($color-soft-blue, 5%));
@include extjs-button-large-ui( $ui: 'soft-blue', $line-height: 34px, $background-color: $color-soft-blue, $border-color: darken($color-soft-blue, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'soft-blue', $background-color: $color-soft-blue, $border-color: darken($color-soft-blue, 5%));
@include extjs-button-small-ui( $ui: 'facebook', $background-color: $social-facebook-btn-background, $border-color: darken($social-facebook-btn-background, 5%));
@include extjs-button-large-ui( $ui: 'facebook', $line-height: 34px, $background-color: $social-facebook-btn-background, $border-color: darken($social-facebook-btn-background, 5%));
@include extjs-button-small-ui( $ui: 'soft-cyan', $background-color: $color-soft-cyan, $border-color: darken($color-soft-cyan, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'soft-cyan', $background-color: $color-soft-cyan, $border-color: darken($color-soft-cyan, 5%));
@include extjs-button-small-ui( $ui: 'soft-green', $background-color: $color-soft-green, $border-color:darken($color-soft-green, 5%));
@include extjs-button-large-ui( $ui: 'soft-green', $line-height: 34px, $background-color: $color-soft-green, $border-color:darken($color-soft-green, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'soft-green', $background-color: $color-soft-green, $border-color:darken($color-soft-green, 5%));
@include extjs-button-small-ui( $ui: 'soft-red', $background-color: $color-soft-red, $border-color:darken($color-soft-red, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'soft-red', $background-color: $color-soft-red, $border-color:darken($color-soft-red, 5%));
@include extjs-button-small-ui( $ui: 'soft-purple', $background-color: $color-soft-purple, $border-color:darken($color-soft-purple, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'soft-purple', $background-color: $color-soft-purple, $border-color:darken($color-soft-purple, 5%));
@include extjs-button-small-ui( $ui: 'gray', $background-color: $color-gray, $border-color:darken($color-gray, 5%));
@include extjs-button-large-ui( $ui: 'gray', $line-height: 34px, $background-color: $color-gray, $border-color:darken($color-gray, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'gray', $background-color: $color-gray, $border-color:darken($color-gray, 5%));
@include extjs-button-small-ui( $ui: 'green', $background-color: $color-green, $border-color:darken($color-green, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'green', $background-color: $color-green, $border-color:darken($color-green, 5%));
@include extjs-button-small-ui( $ui: 'blue', $background-color: $color-blue, $border-color:darken($color-blue, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'blue', $background-color: $color-blue, $border-color:darken($color-blue, 5%));
@include extjs-button-small-ui( $ui: 'header', $color: #000000, $glyph-color: #000000, $background-color: transparent, $border-width: 0);
@include extjs-button-toolbar-small-ui( $ui: 'header', $color: #000000, $glyph-color: #000000, $background-color: transparent, $border-width: 0);
@include extjs-button-small-ui( $ui: 'soft-orange', $background-color: #cf6311, $border-color:darken(#cf6311, 5%));
@include extjs-button-large-ui( $ui: 'soft-orange', $line-height: 34px, $background-color: #cf6311, $border-color:darken(#cf6311, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'soft-orange', $background-color: #cf6311, $border-color:darken(#cf6311, 5%));
@include extjs-button-small-ui( $ui: 'dark-blue', $background-color: #0a3a82, $border-color:darken(#0a3a82, 5%));
@include extjs-button-large-ui( $ui: 'dark-blue', $line-height: 34px, $background-color: #0a3a82, $border-color:darken(#0a3a82, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'dark-blue', $background-color: #0a3a82, $border-color:darken(#0a3a82, 5%));
@include extjs-button-small-ui( $ui: 'white', $color: #000000, $background-color: #f6f6f6, $border-color:darken(#f6f6f6, 5%));
@include extjs-button-large-ui( $ui: 'white', $color: #000000, $line-height: 34px, $background-color: #f6f6f6, $border-color:darken(#f6f6f6, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'white', $color: #000000, $background-color: #f6f6f6, $border-color:darken(#f6f6f6, 5%));