.dashboard-main-chart {
    .x-panel-body-default {
        color: $color;
    }
}

.top-info-container {
    color: #4590D3;
    font-size: 13px;
    font-family: "Open Sans";
    .inner {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .dashboard-analytics-percentage {
        font-size: 14px;
    }
}

.graph-analysis-left .x-progress-bar {
    background-color: $progress-bar-background-color;
}

.quick-graph-panel {
    .x-panel-header {
        padding-left: 22px;
    }
    .x-title-icon {
        position: relative;
        &:before {
            position: absolute;
            height: 30px;
            width: 30px;
            top: -7px;
            left: -7px;
            border-radius: 15px;
            background-color: #f1f1f1;
            line-height: 30px;
            text-align: center;
        }
    }
    .x-title-text {
        padding-left: 8px;
    }
}

.graph-analysis-right {
    border-left: 1px solid $base-border-color;
    .right-value {
        text-align: right;
    }
}

.dashboard-member-grid .x-fa,
.user-grid .x-fa {
    height: 20px;
    width: 20px;
    background: $grid-item-edit-btn-color;
    line-height: 20px;
    float: left;
    margin-right: 10px;
    &:before {
        display: block;
        line-height: 20px;
        text-align: center;
    }
    &.fa-close {
        background-color: $grid-item-close-btn-color;
        color: $lightest-color;
    }
    &.fa-ban {
        background-color: $grid-item-ban-btn-color;
        color: $lightest-color;
    }
    &.x-action-col-icon {
        font-size: 13px !important;
    }
}

.overflow-ellipsis {
    overflow: hidden;
}

.pie-legend-container {
    font-size: 11px;
    text-overflow: ellipsis;
    .quick-graph-pie-legend {
        height: 15px;
        width: 15px;
    }
    .x-autocontainer-innerCt {
        padding-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 14px;
    }
}

.bottom-indent {
    margin-bottom: 16px;
}

.left-aligned-div {
    float: left;
}

.right-aligned-div {
    float: right;
}

.services-text {
    margin: 0 0 10px 5px;
    height: 86px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.services-legend {
    min-width: 240px;
    div {
        width: 15px;
        height: 15px;
        float: left;
        margin: 1px 5px 0 0;
    }
    span {
        font-size: 11px;
        width: 33%;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.service-1 .x-progress-bar,
.legend-aaa {
    background-color: #6aa5dc;
}

.service-2 .x-progress-bar,
.legend-2 {
    background-color: #fdbf00;
}

.service-3 .x-progress-bar,
.legend-3 {
    background-color: #ee929d;
}

.service-4 .x-progress-bar,
.legend-4 {
    background-color: #16b603;
}

.service-5 .x-progress-bar,
.legend-5 {
    background-color: #cf6311;
}

.service-6 .x-progress-bar,
.legend-6 {
    background-color: #37ccdc;
}

.service-7 .x-progress-bar,
.legend-7 {
    background-color: #8cab19;
}

.service-8 .x-progress-bar,
.legend-8 {
    background-color: #7c2fde;
}

.service-9 .x-progress-bar,
.legend-9 {
    background-color: #2bc5a3;
}

.service-10 .x-progress-bar,
.legend-10 {
    background-color: #97c52b;
}

.service-finance .x-progress-bar,
.legend-finance {
    background-color: $grid-item-ban-btn-color;
}

.x-panel-header-title-light {
    color: #0b405c;
}

.x-panel-header-title-light .x-title-icon-wrap-light .x-title-icon-light {
    color: #0b405c;
}

.service-research .x-progress-bar,
.legend-research,
.widget-progressbar .x-progress-bar {
    background-color: $legend-research;
}

.service-marketing .x-progress-bar,
.legend-marketing {
    background-color: $legend-marketing;
}

.force-notext-button,
.force-notext-button .x-frame-mc {
    @include btn-border($force-background-color);
}

.white-panel {
    background: #fff;
}

// Custom Tool type: 'wrench'
.#{$prefix}tool-wrench {
    @include font-icon($fa-var-wrench 16px);
    background: none;
}

.weather-panel {
    background: #fff;
}

.weather-image-container {
    height: 80px;
    width: 100px;
    float: left;
    background: #82d9EA;
    text-align: center;
    padding-top: 20px;
    font-size: 45px;
    color: #FFFFFF;
}

.weather-details-container {
    color: #000000;
    line-height: 20px;
    float: left;
    padding: 10px;
    margin-left: 100px;
    margin-top: 10px;
    position: absolute;
}

.weather-details-container .mumber-box {
    margin-bottom: 4px;
    font-size: 30px;
    font-weight: bold;
    color: #167abc;
    font-size: 3vmin;
}

.weather-details-container .title-box {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}