/*
 * This file defines variables used throughout the application for modern and
 * classic builds.
 */

$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: #ADB3B8;
$progress-bar-background-color: #458fd2;
//Form and Toolbar Button UI colors
$color-blue: #167abc;
$color-soft-cyan: #03b4d5;
$color-soft-blue: #167abc;
$color-soft-green: #9cc96b;
$color-soft-orange: #ffc107;
$color-soft-red: #e44959;
$color-soft-purple: #925e8b;
$color-gray: #949495;
$color-green: #16b603;
$chart-icon-background-color: #f1f1f1;
$grid-item-edit-btn-color: #e9e9e9;
$grid-item-close-btn-color: #fc8999;
$grid-item-ban-btn-color: #ffc000;
$legend-research: #6aa5db;
$legend-marketing: #ee929c;
$force-background-color: #56B750;
//----------------------------------------------------
// Wizards
$wizard-primary-background-color: #579ddb;
$wizard-button-background-color: #579ddb;
$wizard-two-primary-background-color: #986291;
$wizard-two-button-background-color: #925e8b;
$wizard-three-primary-background-color: #9cc96b;
$wizard-three-button-background-color: #9cc96b;